@import 'vars';

body{
  font-family: 'Inter', sans-serif;
  color: $primary;
}

.container{
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  @media (min-width: 768px) {
    padding: 0 30px;
  }
  @media (min-width: 1024px) {
    padding: 0 40px;
  }
  @media (min-width: 1440px) {
    max-width: 1440px;
    padding: 0 80px;
  }
}

.text-hover:hover{
  color: $button-hover;
}

.btn{
  outline: none;
  border: none;
  @include h14;
  background-color: $button-normal;
  transition: all .3s;
  border-radius: 10px;
  width: 100%;
  padding-top: 23px;
  padding-bottom: 23px;
  color: $background;
}
.btn-hover:hover{
  background-color: $button-hover;
  transition: all .3s;
}
